#background{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
    background: linear-gradient(180deg, #4AB28D 0%, #296A60 31.77%, #1A484B 48.44%, #082032 77.5%);
}