nav {
    position:fixed;
    width:100vw;
    bottom:0;
    left:0;
    ul {
        width:100%;
        display:flex;
        background-color: #082032;
        li {
            padding-top: 12px;
            padding-bottom: 12px;
            flex:1;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            svg {
                width:36px;
                height:36px;
            }
        }
        .nav__active .fill{
            fill:#fff;
        }

        .nav__active .stroke{
            stroke:#fff;
        }
    }
}