nav {
    position:fixed;
    width:100vw;
    bottom:0;
    left:0;
    ul {
        width:100%;
        display:flex;
        background-color: #c4c4c4;
        li {
            padding-top: 12px;
            padding-bottom: 12px;
            flex:1;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                width:28px;
                height:28px;
            }
        }
        #nav-li-center {
            border-left:1px solid #fff;
            border-right:1px solid #fff;
        }
    }
}