* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    color: #fff;
    font-family: 'Roboto';
}

#root {
    min-height: 100vh;
    padding: 23px;
}

a {
    cursor: pointer;
    color:inherit;
    text-decoration: inherit;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#errLog {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;

    div {
        animation: error 2s ease-in forwards;
    }

    @keyframes error {
        0% {
            opacity: 1;
        }
    
        50% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
        }
    }
}

