* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    color: #fff;
    font-family: 'Roboto';
    overflow-y: hidden;
}

#root {
    min-height: 100vh;
    padding: 23px;
}

a {
    cursor: pointer;
    color:inherit;
    text-decoration: inherit;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}