#view__home {
    h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding-top: 10px;
    }

    h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    }

    #weekMonth {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
    div {
        position: relative;
    
        img {
            width: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            fill: #7c9aa0;
        }
        #arrowleft {
            left: -18px;
        
        }
        #arrowright {
            right: -18px;
        }
  
 
    #home__days {
    
        overflow: auto;
        overflow-y: visible;
        white-space: nowrap;
   
        .nd {
            transition:150ms;
            display: inline-block;
            background: rgba(102, 132, 138, 0.56);
            border-radius: 10px;
            text-align: center;
            margin: 10px 5px 10px 0;
            width: 45px;
            padding: 20px 0px 20px;
           
            
        }
        .activeButton {
            background: rgba(255, 255, 255, 0.17);
            margin-bottom:0;
            padding-bottom:30px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

    #workoutContainer {
        width:100%;
        
        background: rgba(255, 255, 255, 0.17);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        #workoutContainer__header {
            padding: 20px 15px 20px;
        }

        table {
            width: 100%;
            border: 0;
            border-collapse: collapse;
        }   

        tbody {
            display: table;
            width:100%;
        }

        th {
            color:#A4CDBF;
            padding: 10px;
            font-size: 13px;
            border: none;
        }
    }

    td {
        padding: 10px;    
        border: 1px solid rgb(207, 204, 204);
        border-right: none;
        font-size: 16px;
    }
            .start {
                text-align: left;
                padding-left: 10px;
                border-left: none;
            }

            .number {
                text-align: center;
            }

            .rep {
                border: 1px solid rgb(207, 204, 204);
                border-top: none;
            }

            .repnum {
                border: 1px solid  rgb(207, 204, 204);
            }

            h3 {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #AAD4C5;
            }

            button {
                font-size: 20px;
                padding: 15px 45px;
                color: white;
                background: #48B18B;
                border-radius: 10px;
                border: none;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            }

            .buttons {
                display: flex;
                justify-content: space-around;
                margin: 25px 0;
                padding-bottom: 25px;
            }
}

