#view__home {
  
    h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    }

    h2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
        
    }
    h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #AAD4C5;
    }
    #weekMonth{
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }
    div{
        position: relative;
    
        img{
            width: 13px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            fill: #7c9aa0;
        }
        #arrowleft{
            left: -15px;
        
        }
        #arrowright{
            right: -15px;
        }
  
 
    #home__days {
    
        overflow: auto;
        white-space: nowrap;
   
        .nd{
            display: inline-block;
            background: rgba(102, 132, 138, 0.56);
            border-radius: 10px;
            text-align: center;
            margin: 5px;
            width: 45px;
            padding: 20px 0px 20px;
           
            
        }
        .activeButton{
            background: rgba(255, 255, 255, 0.17);
        }
    }
  
}
    #workoutContainer{
        width:100%;
        
        background: rgba(255, 255, 255, 0.17);
        border-radius: 10px;

        #workoutContainer__header{
            padding: 20px 20px;
        }
        }
}
