#view__login{
    .logo {
        font-size: 96px;
        font-weight: bold;
        padding-top: 120px;
        text-align: center;
        padding-bottom: 77px;
    }
    .login__container{
        padding: 0 23px;
    }
    h2 {
        font-size: 36px;
        font-weight: bold;
        padding-bottom: 5px;
    }
    .container__inputs {
        padding-top: 26px;
        
        >div {
            background:rgba(255, 255, 255, 0.17);
            border-radius: 7px;
            padding-top:8px;
            padding-bottom: 12px;
            margin-bottom: 21px;
            
            .inputs__fields {
                display:flex;
                flex-direction: column;
            }
        }

    }
}
