h1 {
    margin: 15px 0px;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0px;
}

h3 {
    font-size: 28px;
}

h4 {
   display: flex;
   justify-content: flex-end;
   color: white;
   padding: 10px 10px 0 0;
   font-size: 12px;
}

#workout_view{
    .workoutContainer{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        padding: 25px 0px 25px;
        margin: 10px 0px;
        transition:200ms;

        .workoutContainer__header{
            display: flex;
            justify-content: space-between;
            margin: 0 15px 5px;

            img {
                transition:200ms;
            }
        }
      
        .accordion{
            display: none;
        }

        .activeAcc {
            display: block;

            table {
                width: 100%;
                border: 0;
                border-collapse: collapse;
                padding: 20px;
            } 

            tbody {
                display: table;
                width:100%;
            }

            th {
            color:#A4CDBF;
            padding: 10px;
            font-size: 13px;
            border-right: none;
            }
        }

        td {
            padding: 10px;    
            border: 1px solid rgb(207, 204, 204);
            border-left: none;
            border-right: none;
            font-size: 18px;
        }

        .start {
            text-align: left;
            padding-left: 10px;
            border-right: 1px solid rgb(207, 204, 204);
        }

        .number {
            text-align: center;
        }

        .rep {
            border-top: none;
        }

        .repnum {
            border: 1px solid  rgb(207, 204, 204);
            
        }
        
        button {
            font-size: 20px;
            padding: 15px 45px;
            color: white;
            background: #48B18B;
            border-radius: 10px;
            border: none;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

        }
        .buttons{
            display: flex;
            justify-content: space-around;
            padding-top: 25px;
        }
    }
    .activeBtn {
        img {
            
            transform: rotate(180deg);
        }
    }
}